# Ignore environment variables
.env

# Ignore AWS credentials (if accidentally copied)
.aws/
*.pem
*.key

# Ignore node modules & dependencies
node_modules/
package-lock.json
.serverless/

# Ignore build artifacts
dist/
.cache/
.DS_Store